* {
  box-sizing: border-box;
}
:root {
  --blue: #00bae2;
  --black: #0e100f;
}
html {
  font-size: 62.5%;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  scrollbar-width: 5px;
}
html::-webkit-scrollbar {
  width: 10px;
}
html::-webkit-scrollbar-thumb {
  background-color: rgb(39, 113, 187);
  border-radius: 5px;
}
html::-webkit-scrollbar-track {
  background-color: white;
  height: 5%;
}
body {
  font-size: 1.6rem;
  font-family: "IBM Plex Sans", sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
}
a {
  text-decoration: none;
}
/* HEADER TOP */
.header {
  background-color: #e5e7eb;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 4;
  backdrop-filter: blur(10px);
  transition: 0.5s;
}
.logo__icon {
  width: 50px;
  height: 50px;
}
.header__top {
  display: flex;
  top: 0;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}
.scrolltop {
  background-color: #ffffff;
  color: white;
  transition: 0.5s;
  opacity: 0;

  top: 0;
  transform: scale(1.02);
}
.container {
  width: 1300px;
  margin: 0 auto;
  max-width: calc(100% - 48px);
}
.header__top--logo {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 200px;
}
.navbar__list {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-around;
}
.action {
  display: flex;
  align-items: center;
  gap: 15px;
}
.logo__sologan .vanhien {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 1.8rem;
  font-weight: 800;
  letter-spacing: 2px;
  color: rgb(19, 68, 153);
}
.logo__sologan .university {
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 3px;
  color: rgb(19, 68, 153);
}
.logo__sologan {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2px;
}
.navbar__list--link {
  font-size: 1.6rem;
  color: var(--black);
  font-weight: 600;
  opacity: 0.6;
  transition: 0.4s;
}
.navbar__list--link:hover {
  opacity: 1;
}
.action i {
  font-size: 28px;
  transition: 0.3s;
  opacity: 0.8;
}
.fa-regular:hover {
  transform: scale(1.1);
}
.action__btn {
  font-size: 1.6rem;
  font-weight: 600;
}

.btn {
  opacity: 0.8;
  width: 120px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black);
  border: 3px solid var(--black);
  border-radius: 50px;
  transition: 0.4s;
}
.btn:hover {
  border: 3px solid var(--black);
  background-color: var(--black);
  color: white;
}

.gallary {
  width: 100%;
  height: 100%;
  position: relative;
}
.gallary__list {
  width: 100%;
  height: 100%;
}
.gallary__item {
  opacity: 0;
  width: 100%;
  z-index: 0;
  position: absolute;
  height: 100%;
}

.gallary__body {
}
.body {
  height: 75vh;
  width: 100%;
  margin-top: 70px;
}
.gallary__heading {
  z-index: 5;
  height: 260px;
  width: 950px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  left: 7%;
  top: 15%;
  line-height: 90px;
  font-size: 8rem;
  font-weight: 600;
  padding-left: 25px;
  border-left: 5px solid rgb(39, 113, 187);
  color: white;
  text-shadow: 5px 5px #558abb;
}

.filter__gallary {
  height: 100%;
  width: 100%;
  z-index: 0;
  backdrop-filter: blur(0px);
  top: 0;
  position: absolute;
  background-color: rgb(0, 0, 0, 0.2);
}
.active__gallary {
  opacity: 1;
  transition: 1.5s;
}
.disappearonleft {
  animation: disappearonleft 1.5s forwards;
}
.appearonleft {
  animation: appearonleft 1.5s forwards;
}
.disappearonright {
  animation: disappearonright 1.5s forwards;
}
.appearonright {
  z-index: 0;
  animation: appearonright 1.5s forwards;
}
@-webkit-keyframes appearonleft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@-webkit-keyframes disappearonleft {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

@-webkit-keyframes disappearonright {
  0% {
    transform: rotateY(0deg);
    opacity: 1;
  }
  100% {
    transform: rotateY(45deg);
    opacity: 0;
  }
}
@-webkit-keyframes appearonright {
  0% {
    transform: translateX(100%);
    opacity: 1;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
/* info */
.info__list {
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
}
.info__item {
  height: 100%;
  width: 20%;
  display: flex;

  flex-direction: column;
  justify-content: center;
}
.info__number {
  font-size: 3rem;
  font-weight: 900;
  display: inline;
  color: white;
}
.info__desc {
  font-size: 1.6rem;
  font-weight: 600;
  color: white;
  opacity: 0.8;
}
.info {
  background: rgb(39, 113, 187);
  background: linear-gradient(
    140deg,
    rgba(39, 113, 187, 1) 0%,
    rgba(45, 109, 172, 1) 67%
  );

  width: 100%;
  height: auto;
}
.filter__info {
  width: 100%;
  height: 100%;
  backdrop-filter: blur(50px);
}
.intro__video {
  height: 310px;
  width: 550px;
  border-radius: 10px;
}
.vision {
  padding: 60px 0;
  background-image: url("../img/download.webp");
  backdrop-filter: blur(100px);
}
.vision__title {
  text-align: center;
  font-size: 2.8rem;
  font-weight: 600;
  font-family: "Plus Jakarta Sans", sans-serif;
  color: var(--black);
  margin-top: 60px;
}
.philosophy__h2heading1 {
  text-align: start;
}

.philosophy__h2heading2 {
  text-align: center;
}
.philosophy__h2heading3 {
  text-align: end;
}
.philosophy__h2heading {
  font-size: 4rem;
  font-family: "Plus Jakarta Sans", sans-serif;
  color: var(--black);
  font-weight: 500;
  margin-top: 10px;
  letter-spacing: 1rem;
}
.vision__heading,
.mission__heading {
  font-size: 1.8rem;

  color: var(--blue);
  margin-top: 40px;
}
.vision__content {
  display: flex;
  gap: 40px;
}
.vision__desc,
.mission__desc {
  height: 120px;
  margin-top: 20px;

  line-height: 24px;
  font-size: 1.8rem;
}
.vision__body,
.mission__body {
  width: 50%;
}
/* intro */
.intro {
  background: rgb(39, 113, 187);
  background: linear-gradient(
    140deg,
    rgba(39, 113, 187, 1) 0%,
    rgba(45, 109, 172, 1) 67%
  );
  position: relative;
  /* overflow: hidden; */
}
.intro__heading {
  font-size: 3.4rem;
  font-weight: 700;
  color: white;
  font-family: "Plus Jakarta Sans", sans-serif;
}
.intro__title {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.intro__body {
  padding: 60px;
}
.intro__desc {
  font-size: 1.8rem;
  font-weight: 500;
  color: white;
  line-height: 2.2rem;
}
.intro__content {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.intro__bt--img {
  width: 100%;
  height: 100%;
}
.intro__bottom--item {
  position: relative;
  width: 30%;
  height: 250px;
  border-radius: 10px;
  overflow: hidden;
}
.intro__bottom--list {
  display: flex;
  padding-bottom: 40px;
  margin-top: 50px;
  position: relative;
justify-content: space-between;

  
}
.intro__filter {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  z-index: 0;
}
.intro__img--desc {
  line-height: 24px;
  padding: 30px;
  align-items: center;
  position: absolute;
  z-index: 10;
  bottom: 5%;
  font-size: 2rem;
  /* letter-spacing: 1px; */
  color: white;
  font-weight: 500;
  width: 90%;
  left: 5%;
  font-family: "Plus Jakarta Sans", sans-serif;
}
.cloud {
  position: absolute;
  height: 100px;
}
.cl1 {
  top: 100px;
}
.cl2 {
  right: 0;
  bottom: 50%;
}
.dots {
  display: flex;
  position: absolute;
  bottom: 5px;
  gap: 20px;
  left: 47%;
}
.dot {
  z-index: 100;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #afc3cf;
}
/* 

 */
.hook__body {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  height: 250px;
}
.hook__heading {
  font-size: 2.8rem;
  font-weight: 600;
  font-family: "Plus Jakarta Sans", sans-serif;
  color: white;
}
.hook__item .hook__heading {
  font-size: 4rem;
  font-weight: 900;
}
.hook__desc {
  color: white;
  margin-top: 20px;
  width: 80%;
}
.discovery {
  margin-left: calc(10% - 48px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.hook__list {
  display: flex;
  width: 50%;
}
.hook__item {
  width: 40%;
}

.horizontalt {
  background-image: url("../img/download.webp");

  width: 400%;
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  background-size: contain;
}
.panel {
  width: 100%;
  height: 100%;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  font-weight: 600;
  font-size: 1.5em;
  /* text-align: center; */
  color: white;
  position: relative;
  box-sizing: border-box;
}
.yellow {
}
.red {
}
.orange {
  /* background-color: orange; */
}
.ctn1 {
  height: 100vh;
  width: 100%;
}

.activiti__body {
  height: 100vh;
  width: 100%;
}
.thutuc__list {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
.filter__thutuc {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
}

.thutuc__item {
  height: 320px;
  width: 420px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}
.thutuc__item img {
  height: 100%;
  width: 100%;
}
.thutuc,
.heading__phuongthuc {
  font-size: 4rem;
  color: #0e100f;
}
.test {
  height: 100vh;

  width: 100%;
}
.phuongthuc__item {
  width: 400px;
  height: 410px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.filter__phuongthuc {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
}
.phuongthuc__list {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}
.orange {
  margin-top: 30px;
}
.phuongthuc__item img {
  width: 100%;
  height: 100%;
}
.yellow {
  margin-top: 30px;
}
.yellow .desc {
  color: black;
  margin-top: 60px;
  font-weight: 400;
}

.hocbong__item img {
  height: 100%;
  width: 100%;
}
.hocbong__item {
  height: 250px;
  width: 250px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.filter__hocbong {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
}
.hocbong__list {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
}
.hocbong__body {
  padding-top: 100px;
  display: flex;
  gap: 20px;
}
.hocbong__heading {
  font-size: 4rem;
  color: #0e100f;
}
.hocbong__desc {
  color: black;
  margin-top: 100px;
  font-weight: 400;
}
.learmore__desc {
  color: black;

  margin-top: 100px;
}
.hocbong__icon--learnmore {
  color: #0e100f;
  position: absolute;
  left: 140px;
  bottom: 0;
  font-size: 18px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
}
.section {
  will-change: transform;
}
.hocbong__icon--learnmore i {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 28px;
  width: 34px;
  color: white;
  border-radius: 0 18px 18px 0;
  background-color: var(--blue);
}
.learnmore__btn {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
}
.activiti {
  /* background-image: url(); */
  /* background-color: rgb(70 74 201 ) */
  background-image: url("../img/download.webp");
  height: 1000px;
}
.center__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}
.center__item img {
  width: 100%;
  height: 100%;
}
.center__item {
  width: 220px;
  height: 220px;
  height: 100%;
  object-fit: cover;
  background-size: cover;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.filter__center {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
}
.center__content {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 40%;
}
.a {
  grid-column: 1/2;
  grid-row: 1/3;
}
.d {
  grid-column: 3/4;
  grid-row: 1/3;
}
.center__body {
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
  display: flex;
  gap: 20px;
}
.activiti__body {
}
.activity__heading {
  font-size: 5rem;
  color: #000000;
  text-align: center;
  padding-top: 60px;
  font-weight: 800;
}
.activiti__list {
  display: flex;
  gap: 10px;
  margin-top: 50px;
}
.activiti__item {
  width: 25%;
  position: relative;
  height: 260px;
  border-radius: 10px;
  overflow: hidden;
}
.filter__activiti {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
}
.activiti__item img {
  width: 100%;
  height: 100%;
  background-size: contain;
}
.activiti__bottom {
  display: flex;
  margin-top: 80px;

  justify-content: space-between;
  gap: 40px;
}
.activiti__bottom--img {
  position: relative;
  border-radius: 10px;
  height: 400px;
  width: 34%;
  overflow: hidden;
}
.bottom--img {
  height: 100%;
  width: 100%;
}
.activiti__content {
  width: 80%;
}
.activiti__heading {
  font-size: 5rem;
  color: #ffffff;
  font-weight: 700;
}
.activiti__desc {
  margin-top: 30px;
  color: #000000;
  font-size: 2.4rem;
}
.csvc {
  background-image: url(" ../img/1400x0.webp");
  min-height: min-content;
  height: 110vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.csvc__heading {
  text-align: end;
  margin-bottom: 40px;
  padding-top: 40px;
}
.csvc__desc {
  color: rgb(255, 255, 255);

  font-weight: 400;
  font-size: 2.4rem;
}
.csvc__img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
.csvc__item {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.filter__csvc {
  height: 100%;
  width: 100%;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
}
.csvc__list {
  padding-bottom: 80px;
  height: 100vh;
  display: grid;
  gap: 10px;
  grid-template-areas:
    "content centerbar rb"
    "leftbar centerbar rb"
    "leftbar ctb rb"
    "leftbar ctb rbb"
    "leftbar bt rbb"
    "leftbar bt rbb";
}
.img2 {
  grid-area: rb;
}
.img6 {
  grid-area: rbb;
}
.content {
  grid-area: content;
}
.img1 {
  grid-area: centerbar;
}
.img3 {
  grid-area: leftbar;
}
.img4 {
  grid-area: ctb;
}
.img5 {
  grid-area: bt;
}

.contact {
  background-color: rgb(233, 232, 232);
  padding: 40px;
}
.contact__body {
  width: 60%;
  padding-bottom: 50px;
}

.contact__info {
  display: flex;
  justify-content: space-between;
}
.contact__heading {
  color: rgb(255, 255, 255);

  font-weight: 400;
  font-size: 2.4rem;
  color: #000;
}
.heading__contact {
  font-size: 4rem;
  color: #000000;
  font-weight: 800;
}

.contact__icon {
  font-weight: 500;
  font-size: 2.4rem;
  transition: 0.2s;
  color: #1925b0;
}
.icon__phone {
  position: absolute;
  bottom: 0;
}
.contact__content {
  margin-top: 10px;
}
.contact__desc {
  margin-top: 5px;
  position: relative;
  left: 30px;
}
.phone__contact {
  display: flex;
  gap: 10px;
  align-items: center;
  position: relative;
}
.contact__desc {
  height: 20px;
  display: flex;
  align-items: center;
}
.contact__list {
  margin-top: 50px;
}
.contact__item {
  border-bottom: 0.5px solid black;
  padding-bottom: 10px;
  margin-bottom: 30px;
}
.desc__contact {
  margin-top: 5px;
  line-height: 20px;
}
.desc__contact strong {
  font-weight: 900;
}
.footer__body {
  padding-top: 50px;
 padding-bottom: 50px;
}
.it1 {
  background-color: rgb(27, 30, 44);
}
.it2 {
  background-image: url(../img/download\\(4\)webp);
}
.it3 {
}
.reason__item {
  height: 450px;
  object-fit: cover;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
}
.heaing__main {
  text-align: center;
  font-size: 4rem;
  color: #ffffff;
  font-weight: 800;
}
.desc__main {
  color: #e5e7eb;
  font-size: 1.8rem;
  line-height: 24px;
}
.reason__heading {
  text-align: center;
  font-size: 3rem;
  color: #000000;
  font-weight: 800;
}
.reason__img{
  background-color: transparent;
}
.rh1 {
  text-align: start;
  color: white;
}
.rh3,
.rh2 {
  text-align: start;
  color: rgb(5, 5, 5);
}
.reason__img {
  height: 250px;
  width: 300px;
  color: #000000;
  background-color: transparent;
  object-fit: cover;
}
.reason__item .container {
  display: flex;
  justify-content: space-between;
}
.container .reason__content {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.btn__reason {
  width: 200px;
  height: 40px;
  background-color: orangered;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 800;
  color: white;
  letter-spacing: 2px;
}
.title__main .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  padding: 100px;
}
.title__main {
  background-color: rgb(70, 74, 201);
  height: 450px;
}
.form__body {
}

.form__body {
  gap: 20px;
  height: 100%;
  padding-top: 100px;

  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.form__left {
  width: 30%;
}
.form__right {
  width: 65%;
  padding: 60px 30px;

  height: 100%;
  background-color: #ffffff;
  border-radius: 15px;
}

#name,
#phone {
  width: 50%;
}
.nameandphone {
  display: flex;
  gap: 10px;
}
#email {
  width: 100%;
  height: 50px;
  margin-top: 40px;
}
#nganhhoc {
  width: 100%;
  margin-top: 20px;
}
.desc__form {
  margin-top: 30px;
}
.form {
  height: 120vh;
  background-color: rgb(27, 30, 44);
}

.box {
  height: 50px;
  border: none;
  padding: 10px;
  background-color: #f4f4f4;
  border-radius: 5px;
  font-size: 1.8rem;
}
.testEN {
}
.ctrinh {
  margin-bottom: 20px;
}
.desc__form {
  font-size: 2rem;
  opacity: 0.9;
}

input {
  accent-color: rgba(39, 113, 187, 1);
}
input[type="radio"] {
  margin-top: 15px;
  margin-right: 10px;
  transform: scale(1.3); /* Adjust the scale as needed */
}
#nh {
  margin-top: 20px;
}
#text_co {
  opacity: 0.7;
}
#submit__box {
  width: 100%;
  height: 50px;
  border: none;
  margin-top: 40px;
  background-color: rgba(39, 113, 187, 1);
}
.heading__form {
  text-align: start;

  padding-bottom: 30px;
  border-bottom: 1px solid white;
}
.mation__heading {
  color: rgba(39, 113, 187, 1);
  margin-top: 30px;
}
.desc__hide {
  margin-top: 20px;
}
.col__top .contact__footer {
  font-size: 1.8rem;

  color: rgb(173, 173, 173);
  opacity: 0.8;
}
.col__top {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.desc__footer {
  font-size: 1.8rem;
  font-weight: 500;
  color: white;
  opacity: 1;
}
.desc__mation {
  font-size: 1.6rem;
  color: white;
  margin-top: 10px;

}
.row__top {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  padding-bottom: 20px;
  border-bottom: 0.5px solid rgb(205, 205, 205);
}
.row__bottom {
  padding-bottom: 20px;
  padding-top: 20px;
  display: grid;

  grid-template-columns: repeat(5, 20%);border-bottom: 0.5px solid rgb(205, 205, 205);
}
.contact__footer {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.icon__footer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.link__footer {
  text-decoration: none;
  color: rgb(173, 173, 173);
  opacity: 0.8;
  font-size: 1.6rem;
  
}
.link__footer:hover {
  opacity: 1;
  color: white;
}
.icon__footer--item {
  font-size: 24px;
  color: white;
}
.title__footer {
  font-size: 1.8rem;
  font-weight: 500;
  

  color: rgb(255, 255, 255);
}
footer {
  background-color: #5057b9;
}
footer .logo__icon {
  height: 80px;
  width: 80px;
}
.copyright{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.copy{
  color: rgb(173, 173, 173);
  opacity: 0.8;
  font-size: 1.6rem;
}
.dk{
  display: flex;
  justify-content: space-between;
  gap: 20px;
}